name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to deploy"
        required: true
        type: string

jobs:
  create-release:
    name: "Create Release"
    runs-on: windows-latest
    steps:
      - uses: ClementTsang/winget-releaser@611e60e2f9f46e01c8a64b06d9161ec3346f7250
        with:
          identifier: Clement.bottom
          installers-regex: '^bottom_x86_64_installer\.msi$'
          version: ${{ github.event.inputs.version }}
          release-tag: ${{ github.event.inputs.version }}
          token: ${{ secrets.WINGET_TOKEN }}
          release-repository: "bottom"
