# A workflow to manually test installing a winget manifest from a given path, for ARM and Windows.

name: "Test Installing"
on:
  workflow_dispatch:
    inputs:
      manifest-path:
        description: "Path to the manifest directory to test install"
        required: true
        type: string

      branch:
        description: "Branch to use for testing (default: main)"
        required: false
        default: "main"
        type: string

jobs:
  test-install:
    name: "Test Install Manifest"
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-11-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: "ClementTsang/winget-pkgs"
          ref: ${{ github.event.inputs.branch }}
          sparse-checkout: |
            ${{ github.event.inputs.manifest-path }}
          sparse-checkout-cone-mode: false

      # Apparently needs to be run in the same folder where the manifest is (https://github.com/microsoft/winget-cli/discussions/991)?
      - name: Install manifest
        shell: powershell
        run: |
          cd "${{ github.event.inputs.manifest-path }}"
          cat "Clement.bottom.installer.yaml"
          winget validate --manifest .
          winget settings --enable LocalManifestFiles
          winget install --manifest . --accept-source-agreements --accept-package-agreements --silent

      - name: Verify installation
        shell: powershell
        run: |
          btm -V
